extends layout

block content
  h1 ToDo List
  p input todo.
  p title
  input(
  	type="text"
  	name="title"
  )
  p discription
  input(
  	type="text"
  	name="discription"
  )
  h2 your todos
  - todos.forEach( (todo) => {
  p= todo.id + " title: " + todo.todo + " description: " + todo.description
  - });